    body { 
        display: grid;
        counter-reset: score;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        place-items: center;
    }
    .phone {
        position: relative;
        border: 12px solid black;
        border-radius: 40px;
        width: 320px;
        height: 650px;
        background: #ccefff;
        box-shadow: 0 19px 38px rgb(0,0,0, 0.3),
        0 15px 12px rgb(0,0,0, 0.2);
    }
    h1 {
        margin: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .layer-1 {
        position: absolute;
        z-index: 1;
        width: 80px;
        height: 450px;
        bottom: 0;
        right: 60px;

        animation-name: layer;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    @keyframes layer {
        0% {
            bottom: 0;
        }
        25% {
            bottom: -80px;
        }
        100% {
            bottom: 0;
        }
    }
    .layer-1 input[type=checkbox] {
        margin: 0;
        position: relative;
        appearance: none;
        cursor: pointer;
        width: 80px;
        height: 50px;
        top: 0;
        z-index: 2;
    }
    .layer-1 input[type=checkbox]:focus {
        appearance: none;
        outline: none;
    }
    input[type=checkbox]:checked {
        counter-increment: score;
    }
    .count {
        position: absolute;
        top: 210px;
    }
    .count::after {
        content: counter(score);
    }
    .layer-2 {
        position: absolute;
        z-index: 2;
        width: 80px;
        height: 450px;
        bottom: 0;
        left: 60px;

        animation-name: layer;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    .layer-2 input[type=checkbox] {
        margin: 0;
        position: relative;
        appearance: none;
        cursor: pointer;
        width: 80px;
        height: 50px;
        top: 0;
        z-index: 2;
    }
    .layer-2 input[type=checkbox]:focus {
        appearance: none;
        outline: none;
    }

    .layer-3 {
        position: absolute;
        z-index: 3;
        width: 230px;
        height: 380px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: brown;
    }
    .layer-4 {
        position: absolute;
        z-index: 4;
        width: 80px;
        height: 325px;
        bottom: 0;
        left: 16px;

        animation-name: layer;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    .layer-4 input[type=checkbox] {
        margin: 0;
        position: relative;
        appearance: none;
        cursor: pointer;
        width: 80px;
        height: 50px;
        top: 0;
        z-index: 2;
    }
    .layer-4 input[type=checkbox]:focus {
        appearance: none;
        outline: none;
    }
    
    .layer-5 {
        position: absolute;
        z-index: 5;
        width: 200px;
        height: 270px;
        left: 0;
        right: 120px;
        bottom: 0;
        margin: 0 auto;
        border-radius: 20px;
        background-color: rgb(190, 92, 92);
    }
    .layer-6 {
        position: absolute;
        z-index: 6;
        width: 80px;
        height: 225px;
        bottom: 0;
        left: 220px;

        animation-name: layer;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    .layer-6 input[type=checkbox] {
        margin: 0;
        position: relative;
        appearance: none;
        cursor: pointer;
        width: 80px;
        height: 50px;
        top: 0;
        z-index: 2;
    }
    .layer-6 input[type=checkbox]:focus {
        appearance: none;
        outline: none;
    }

    .layer-7 {
        position: absolute;
        z-index: 7;
        width: 180px;
        height: 170px;
        left: 140px;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        border-radius: 20px;
        background-color: rgb(207, 167, 167);
    }
    .layer-8 {
        position: absolute;
        z-index: 8;
        width: 180px;
        height: 120px;
        left: 0;
        right: 200px;
        bottom: 0;
        border-radius: 20px;
        border-top-right-radius: 50%;
        background-color: rgb(28, 161, 57);
    }
    .layer-9 {
        position: absolute;
        z-index: 9;
        width: 180px;
        height: 90px;
        left: 100px;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 90%;
        background-color: rgb(132, 199, 147);
    }
    .layer-10 {
        position: absolute;
        z-index: 10;
        width: 120px;
        height: 70px;
        left: 200px;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 90%;
        background-color: rgb(28, 161, 57);
    }
    .left-ear-outer {
        position: absolute;
        background: white;
        border-radius: 90%;
        width: 20px;
        height: 50px;
        left: 10px;
        top: 0px;
    }
    .left-ear-inner {
        position: absolute;
        background: pink;
        border-radius: 90%;
        width: 10px;
        height: 40px;
        top: 10px;
        left: 15px;
    }
    .right-ear-outer {
        position: absolute;
        background: white;
        border-radius: 90%;
        width: 20px;
        height: 50px;
        right: 10px;
        top: 0;
    }
    .right-ear-inner {
        position: absolute;
        background: pink;
        border-radius: 90%;
        width: 10px;
        height: 40px;
        top: 10px;
        right: 15px;
    }
    .head {
        position: absolute;
        margin: 0 auto;
        background: white;
        border-radius: 50%;
        width: 100%;
        height: 80px;
        top: 30px;
        left: 0;
        right: 0;
    }
    .head__eye {
        position: absolute;
        background: black;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        top: 15px;

        animation-name: blink;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes blink {
        0% {
            height: 4px;
        }
        5% {
            transform: translate(0px, 2px);
            height: 1px;
        }
        10% {
            transform: translate(0px, 0px);
            height: 4px;
        }
    }
    
    .head__eye--left{
        left: 30px;
    }
    .head__eye--right {
        right: 30px;
    }
    .zigzag {
        position: absolute;
        width: 100%;
        height: 50px;
        border-radius: 20px;
        background: 
        linear-gradient(135deg, rgb(0, 128, 32) 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, teal 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, teal 25%, transparent 25%),
        linear-gradient(-45deg, teal 25%, transparent 25%);
        background-size: 40px 80px;    
    }
    .layer-8-flower-1 {
        width: 30px;
        height: 30px;
        background: red;
        border-radius: 50%;
        position: absolute;
        left: 20px;
        top: 50px;
    }
    .layer-8-flower-2 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 70px;
        top: 80px;
    }
    .layer-8-flower-3 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 70px;
        top: 20px;
    }
    .layer-9-flower-1 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 70px;
        top: 20px;
    }
    .layer-9-flower-2 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 20px;
        top: 20px;
    }
    .layer-9-flower-3 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 50px;
        top: 60px;
    }
    .layer-10-flower-1 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 60px;
        top: 30px;
    }
    .layer-10-flower-2 {
        position: absolute;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        left: 20px;
        top: 40px;
    }
